* {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

#hero {
    margin-bottom: 5em;
}

#hero img{
    width: 100%;
}

article p {
    width: 40rem;
}

aside p {
    width: 20rem;
}